

nav ul{
  width: 60%;
  display: flex;
  background: white;
  height: 100px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border: 1px solid black;
  border-top: none;
  border-bottom-right-radius: 10px ;
  border-bottom-left-radius: 10px;
  box-shadow:0px 0px 30px rgb(99, 96, 96);
} 
nav ul li{
  box-shadow: 2px 3px 10px rgb(128, 123, 123);
  list-style: none;
  height: 25px;
  background: rgb(212, 95, 114);
  transition: all 0.5s ease-out;
  border-radius: 5px;
}




nav ul li a{
    text-decoration: none;
    padding: .3rem;
    color: rgb(255, 255, 255);
}

nav ul li:hover{
  transition: all 0.3s ease-out;
  border-radius: 5px; 
  transform: scale(1.2);



}

.logo{
  width: 70px;
  cursor: pointer;
  
}
p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

